// tokens from Zero Height
@import "../../styles/tokens.scss";
// Adobe Objecktiv Mk2 font
@import url("https://use.typekit.net/blp0kkw.css");

/***** BASE BUTTON *****/
button {
  height: 48px;
  min-height: 48px;
  min-width: 122px;
  padding: 0 24px;
  border-radius: 4px;
  font-family: objektiv-mk2;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: $deep-fishing-blue;
  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  &:hover {
    cursor: pointer;
  }
}

/***** DANGER BUTTON *****/
.danger {
  background-color: $coral-red;
  color: $pearl-white;
  border: none;
}

/***** SMALL BUTTON *****/
.small {
  height: 48px;
  min-height: 48px;
}

/***** BIG BUTTON *****/
.big {
  height: 64px;
  min-height: 64px;
}

/***** TEXT BUTTONS *****/
.text,
.d-text {
  &,
  &-clicked,
  &-disabled,
  &-disabled-clicked,
  &-link,
  &-link-clicked,
  &-yellow,
  &-orange,
  &-blue,
  &-aqua,
  &-yellow-clicked,
  &-orange-clicked,
  &-blue-clicked,
  &-aqua-clicked {
    height: 24px;
  }
  &-link,
  &-link-clicked {
    text-transform: capitalize;
  }
}

/***** MEDIA QUERIES - RESPONSIVE *****/
@media (max-width: 550px) {
  .primary,
  .primary-clicked,
  .secondary,
  .secondary-clicked {
    height: 40px;
  }
}

/***** INHERITANCE *****/
%leftIconSpacing {
  position: relative;
  right: 8px;
}

%rightIconSpacing {
  position: relative;
  left: 8px;
}

/***** LIGHT MODE INHERITANCE *****/
%primaryColorScheme {
  background-color: $deep-fishing-blue;
  color: $pearl-white;
}
%primaryTransitionColors {
  background-color: #406195;
  color: $pearl-white;
  border: none;
}
%secondaryColorScheme {
  background-color: $pearl-white;
  color: $deep-fishing-blue;
  border: 2px solid $deep-fishing-blue;
}
%secondaryTransitionColors {
  background-color: $tide-pool-blue;
  color: $deep-fishing-blue;
  border: 2px solid $deep-fishing-blue;
}
%textColorScheme {
  background-color: $pearl-white;
  color: $deep-fishing-blue;
}
%textTransitionColors {
  background-color: $tide-pool-blue;
  color: $deep-fishing-blue;
}
%textTransitionYellow {
  background-color: $seahorse-yellow;
  color: $deep-fishing-blue;
}
%textTransitionOrange {
  background-color: $starfish-orange;
  color: $deep-fishing-blue;
}
%textTransitionBlue {
  background-color: $undertow-blue;
  color: $deep-fishing-blue;
}
%textTransitionAqua {
  background-color: $sea-glass-aqua;
  color: $deep-fishing-blue;
}
%textTransitionLink {
  background-color: $pearl-white;
  text-decoration: underline;
}

/**************************************************************** 
LIGHT MODE
 ****************************************************************/

/***** PRIMARY BUTTON - (LIGHT MODE) *****/
.primary {
  @extend %primaryColorScheme;
  &-clicked,
  &:hover {
    @extend %primaryTransitionColors;
  }
  &-disabled,
  &-disabled-clicked {
    background-color: $fin-grey;
    color: $stingray-grey;
  }
}

/***** SECONDARY BUTTON - (LIGHT MODE) *****/
.secondary {
  @extend %secondaryColorScheme;
  &-clicked,
  &:hover {
    @extend %secondaryTransitionColors;
  }
  /***** SECONDARY DISABLED BUTTON *****/
  &-disabled,
  &-disabled-clicked {
    color: $stingray-grey;
    border-color: 2px solid $stingray-grey;
    background-color: $pearl-white;
  }
}

/***** ICONS (LIGHT MODE) *****/
.icon-left {
  @extend %leftIconSpacing;
  fill: $deep-fishing-blue;
  transition: right 0.25s;
}
.icon-right {
  @extend %rightIconSpacing;
  fill: $deep-fishing-blue;
  transition: left 0.25s;
}

/***** TEXT BUTTONS - (LIGHT MODE) *****/
.text {
  @extend %textColorScheme;
  border: none;
  &-clicked,
  &:hover {
    @extend %textTransitionColors;
    border: none;
  }

  /***** ICONS ANIMATION *****/
  &:hover,
  &-clicked:hover {
    .icon-left {
      right: 16px;
    }
    .icon-right {
      left: 16px;
    }
  }

  /***** TEXT DISABLED BUTTON *****/
  &-disabled,
  &-disabled-clicked {
    color: $stingray-grey;
    background-color: $pearl-white;
    border: none;
    .icon-left {
      @extend %leftIconSpacing;
      fill: $stingray-grey;
    }

    .icon-right {
      @extend %rightIconSpacing;
      fill: $stingray-grey;
    }
  }

  /***** TEXT BUTTON (YELLOW COLOR) - only used in LIGHT MODE *****/
  &-yellow {
    @extend %textColorScheme;
    border: none;
  }

  &-yellow-clicked,
  &-yellow:hover {
    @extend %textTransitionYellow;
    border: none;
  }

  /***** TEXT BUTTON (ORANGE COLOR) - only used in LIGHT MODE *****/
  &-orange {
    @extend %textColorScheme;
    border: none;
  }

  &-orange-clicked,
  &-orange:hover {
    @extend %textTransitionOrange;
    border: none;
  }

  /***** TEXT BUTTON (BLUE COLOR) - only used in LIGHT MODE *****/
  &-blue {
    @extend %textColorScheme;
    border: none;
  }

  &-blue-clicked,
  &-blue:hover {
    @extend %textTransitionBlue;
    border: none;
  }

  /***** TEXT BUTTON (AQUA COLOR) - only used in LIGHT MODE *****/
  &-aqua {
    @extend %textColorScheme;
    border: none;
  }

  &-aqua-clicked,
  &-aqua:hover {
    @extend %textTransitionAqua;
    border: none;
  }

  /***** TEXT WITH LINK BUTTON (LIGHT MODE) *****/
  &-link {
    @extend %textColorScheme;
    border: none;
  }

  &-link-clicked,
  &-link:hover {
    @extend %textTransitionLink;
    border: none;
  }
}

/**************************************************************** 
DARK MODE
 ****************************************************************/

/***** PRIMARY BUTTON - (DARK MODE) *****/
.d-primary {
  background-color: $pearl-white;
  color: $deep-fishing-blue;
  &-clicked,
  &:hover {
    background-color: $tide-pool-blue;
    color: $deep-fishing-blue;
    border: 2px solid $deep-fishing-blue;
  }

  &-disabled,
  &-disabled-clicked {
    background-color: $fin-grey;
    color: $stingray-grey;
  }
}
/***** SECONDARY BUTTON - (DARK MODE) *****/
.d-secondary {
  background-color: $ocean-blue;
  color: $pearl-white;
  border: 2px solid $pearl-white;
  &-clicked,
  &:hover {
    background-color: #465273;
    color: $pearl-white;
    border: 2px solid $pearl-white;
  }
  &-disabled,
  &-disabled-clicked {
    color: $seal-grey;
    border-color: 2px solid $seal-grey;
    background-color: $ocean-blue;
  }
}

/***** TEXT BUTTONS - (DARK MODE) *****/
.d-text {
  & {
    background-color: $ocean-blue;
    color: $pearl-white;
    border: none;
    .icon-left {
      @extend %leftIconSpacing;
      fill: $pearl-white;
      transition: right 0.25s;
    }

    .icon-right {
      @extend %rightIconSpacing;
      fill: $pearl-white;
      transition: left 0.25s;
    }
  }

  &:hover {
    background-color: #465273;
    color: $pearl-white;
    border: none;
  }

  &-clicked {
    background-color: #465273;
    color: $pearl-white;
    border: none;
    .icon-left {
      @extend %leftIconSpacing;
      fill: $pearl-white;
    }

    .icon-right {
      @extend %rightIconSpacing;
      fill: $pearl-white;
    }
  }

  /***** ICON ANIMATION (DARK MODE) *****/
  &:hover,
  &-clicked:hover {
    .icon-left {
      right: 16px;
    }
    .icon-right {
      left: 16px;
    }
  }

  /***** TEXT DISABLED BUTTON (DARK MODE) *****/
  &-disabled,
  &-disabled-clicked {
    color: $seal-grey;
    background-color: $ocean-blue;
    border: none;
    .icon-left {
      @extend %leftIconSpacing;
      fill: $seal-grey;
    }

    .icon-right {
      @extend %rightIconSpacing;
      fill: $seal-grey;
    }
  }
  /***** TEXT WITH LINK BUTTON (DARK MODE) *****/
  &-link {
    background-color: $ocean-blue;
    color: $pearl-white;
    border: none;
  }

  &-link-clicked {
    background-color: $ocean-blue;
    color: $pearl-white;
    text-decoration: underline;
    border: none;
  }

  &-link:hover,
  &-link-clicked:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
